.pagination{
    position: relative;
    bottom: 0;
    left:0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: "#ff6600";
    width: 100%;
    padding: 20px 10px;
    margin:0;
    list-style: none;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 15px;
    background-color: #fff;
    color: #1c1e29;
    text-decoration: none;
    padding: 5px 12px;
    cursor: pointer;
    
}

.pagination a:hover{
    background-color: #ff6600;
    color: #fff;
}

.active-page{
    background-color: #ff6600;
    color: #ff6600;
}